@model Position
<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="row">

                <div col-6>
                    <label>Name</label>
                </div>
            </div>
            <div class="row mt-5">

                <div col-6>
                    <p>@Model.Name</p>
                </div>
            </div>
          
            <div class="row mt-5">

                <div col-6>
                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Position" asp-action="Index"><i class="fa fa-long-arrow-left"></i></a>
                </div>
            </div>
           
            </<div>

                </div>
            </div>
